.ticketing-tab-body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
    /*background: rgba(255, 255, 255, 1);*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);*/
    }

.filters {
    grid-column: 1/2;
    width: 95%;
    border-radius: 5px;
    height: 100%;
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    /*background: rgba(81, 109, 133, 0.33);*/
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
    }

.remittance-table {
    width: 100%;
    grid-column: 2 / 3;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);

    }

.remittance-table .ant-table-content {
    /*border: 1px solid #dfe3eb !important;*/
    border-radius: 5px ! important;

    }

.remittance-table .ant-table-thead > tr > th {
    /*background: rgba(0, 77, 128, .0392157) !important;*/
    background: rgba(255, 255, 255, 1);
    font-weight: 500;
    color: var(--navdark);

    border-bottom: 1px solid #dfe3eb !important;

    }

.remittance-table * {
    font-family: Montserrat, sans-serif;
    border: none !important;

    }

/*.remittance-table .ant-table{*/
/*border: 1px solid var(--divider)!important;*/
/*}*/
.view-button {
    border: 1px solid var(--darkgreen) !important;
    color: var(--darkgreen) !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    border-radius: 30px !important;
    }

.table-avatar {
    background: deepskyblue;
    }

.name {
    margin-left: 20px;
    font-weight: 600;
    color: var(--darkgreen)
    }

.rem-status {
    color: var(--darkgreen);
    font-weight: 400;
    }

.status-icon {
    color: #21be4b;
    margin-right: 10px;
    }

.shift-type {
    height: 40px !important;
    /*background: rgba(85, 204, 170, 1)!important;*/
    }

.shift-table-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

.shift-table-column p, .rem-status p {
    padding: 0;
    margin: 0;
    }

.ticketing-modal {
    width: 950px !important;
    min-width: 500px !important;
    top: 20px !important;
    }

.modal-content {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 500px !important;
    background-color: rgba(255, 255, 255, 1);
    }

.modal-content .form-content {
    grid-column: 2/3;
    }

.modal-content .ant-list-item-meta-title {
    line-height: 40px !important;
    }

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    }
