.user-avatar {
    display: inline-block;
    justify-content: center;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center;
    cursor: pointer;
    }

.user-avatar:hover{
    opacity: 0.8;
    }

.header-icons {
    right: 1.5%;
    position: absolute;
    display: grid;
    grid-column: 3 / 4;
    grid-template-columns: auto 105px 42px 37px;
    grid-template-rows: 30px 60px auto;
    grid-column-gap: 8px;
    }

.user-full-name {
    font-weight: 500;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
    word-break: break-all;
    margin-bottom: 5px;
    }

.user-type {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    }
.notification{
    grid-column: 4 / 5;
    grid-row: 2 / 2;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    }

.notification:hover{
    opacity: 0.8;
}

.notification-area{
    height: 30vh;
    width: 20vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*.name-tag-grid{*/
    /*display: grid;*/
    /*grid-column: 2 / 3;*/
    /*grid-row: 2 / 3;*/
    /*grid-template-rows: 25% 25% 25% 25%;*/
    /*grid-row-gap: 0px;*/
    /*}*/

.ant-tag {
    margin-right: 0 !important;
    margin-bottom: 5px!important;
    }

