.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

.name-label, .quantity-label, .brand-label, .vendor-label{
    margin-bottom: 5px;
    margin-top: 15px;
}

.item-form{
    padding: 0 15px 15px 15px;
    text-align: left;
}

.steps-action {
    margin-top: 24px;
    }