.ant-modal .add-item-modal{
    width: 700px!important;
    }
.add-item-modal .ant-modal-title {
    font-family: Montserrat, sans-serif!important;
    font-size: 15px!important;
    font-weight: 500!important;
    }
.header {
    width: 100%;
    /*min-height: 100px;*/
    min-width: 600px;
    margin-left: 2px;
    background: rgba(255, 255, 255, 1);
    /*border-bottom: 1px solid var(--divider);*/
    /*box-shadow: 2px 1px 7px -2px #636363;*/
    box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12)
    /*box-shadow: 0 2px 8px #f0f1f2;*/
    }

.header-text {
    top: 2%;
    position: absolute;
    left: 2%;
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: auto 50px 100px auto;
    grid-template-rows: 30px auto auto 30px;
    grid-column-gap: 8px;
    }
.page-icon{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    }
.page-title {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: center;
    font-size: 27px;
    font-weight: 600;
    }
.add-item{
    justify-self: center;
    align-self: end;
    grid-column: 5/5;
    grid-row: 2/3;
    }

.current-date {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: center;
    font-size: 12px;
    color: gray;
    font-weight: 500;
    margin-left: 2px;
    }

/*to transfer */
.upper-header{
    width: 100%;
}
.header-bottom{
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
}
.user-search-wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    position: relative;
    width: 30%;
    min-width: 300px;
    }
.item-search {
    position: absolute !important;
    width: 80% !important;
    min-width: 154px;
    background: var(--bgcolor) !important;
    bottom: 10%;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    border-radius: 5px;

    }

.item-search .ant-input {
    background-color: var(--bgcolor);
    border: none !important;
    }

.item-search .ant-input::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    color: var(--divider);
    }

/*to disable bug in searchbar*/
.item-search .ant-input-search-icon {
    display: none;
    }
.user-tabs-wrapper{
    display: inline-flex;
    height: inherit;
    width: 68%;
    flex-direction: column;
    position: relative;

    }
.user-tabs {
    position: absolute!important;
    left: 5%!important;
    bottom: 0!important;
    }

.user-tabs .ant-tabs-bar {
    margin-bottom: 0px;
    border-bottom: none;
    }

.tab-item {
    font-family: Montserrat, sans serif !important;
    border-bottom: 2px;
    }

.user-tabs .ant-tabs-tab {
    font-family: Montserrat, sans serif !important;
    border-bottom: 2px;
    font-weight: 500;

    }
.user-tabs .ant-tabs-nav .ant-tabs-tab-active {
    font-weight: 700;
    color: var(--darkgreen)!important;
    border-bottom: 4px solid var(--darkgreen)!important;
    }
.ant-tabs-ink-bar{
    background: var(--darkgreen)!important;
    }



