@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900');

.App {
    text-align: center;
    }

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    }

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    }

.App-title {
    font-size: 1.5em;
    }

.App-intro {
    font-size: large;
    }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
        }
    to {
        transform: rotate(360deg);
        }
    }

.page-container {
    background: rgba(243, 246, 248, 1);
    position: relative;
    height: 100%;
    width: 100%;
    }

.body-wrapper {
    position: absolute;
    display: inline-block;
    width: calc(100% - 80px);
    height: 100%;
    right: 0;
    overflow: hidden;
    }

body {
    font-family:"Lato", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }