#page-container {
    background: rgba(243, 244, 245, 1);
    height: 100vh;
    position: relative;
    overflow: hidden;
    }
.body-container{
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    }
