.table-style{
    background-color: white;
    margin: 15px;
    box-shadow: 0 1px 5px 0 rgba(45,62,80,.12);
    border-radius: 5px;
    padding: 0 15px;
    overflow: auto;
    height: 80vh;
}

.warning-icon{
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
}

.quantity-text{
    position: relative;
    padding-top: 3px;
    margin-bottom: 0;
}

.whole-table * {
    /*border:  1px solid #e8e8e8 !important;*/
    border-radius: 5px;
    border: none!important;
    font-family: Montserrat, sans-serif;
}
.whole-table .ant-table-thead > tr > th {
    /*background: rgba(0, 77, 128, .0392157) !important;*/
    background: rgba(255, 255, 255, 1);
    font-weight: 500;
    color: var(--navdark);
    /*border-bottom: 1px solid #dfe3eb !important;*/
    border-bottom: 1px solid var(--divider)!important;
    border-radius: 0!important;
    }
.whole-table .ant-table-thead > tr > th.ant-table-column-sort{
    background: rgba(255,255,255,1)!important;
    }
.whole-table .action-icon{
    padding-top: 5px;
}

.whole-table .ant-table-pagination.ant-pagination{
    margin-right: 35px !important;
}

.whole-table .ant-input-affix-wrapper{
    width: 250px !important;
    margin: 0 0 15px 0 !important;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.poButton {
    margin-bottom: 15px;
}

.purchaseOrderModal{
    padding: 0 !important;
    width: 8.5in !important;
}

.ant-modal-body{
    padding: 10px!important;
}