.om-tab-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    }

.expiration-label {
    font-size: 11px;
    /*color: #d04a43;*/
    color: var(--orange);
    text-align: center;
    font-weight: 600;
    margin-left: 20px;
    }

.history-content-body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    grid-column-gap: 7px;
    }

.shift-creation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-column: 1 / 2;
    /*box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);*/
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    min-width: 200px;
    /*box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);*/
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);

    }

.date-grid {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.label-div {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    }

.shifts-label-div {
    width: 100%;
    height: 73px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    }

.table-label-div {
    width: 100%;
    height: 60px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    }

.om-tab-body .ant-table-body {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    /*border: 1px dashed var(--darkgreen);*/
    border-radius: 5px;
    background: transparent
    /*box-shadow: 2px 10px 50px -2px rgba(51, 71, 91, 0.12);*/

    }

.om-tab-body .ant-table-body * {
    /*border: 1px dashed var(--darkgreen);*/
    background: transparent;
    border: none !important;
    /*box-shadow: 2px 10px 50px -2px rgba(51, 71, 91, 0.12);*/

    }

.om-tab-body .ant-table-wrapper {
    overflow: scroll !important;
    height: 340px !important;
    /*border: 1px dashed var(--darkgreen);*/

    }

.om-tab-body .ant-checkbox-inner {
    border-radius: 3px !important;
    /*background: rgba(196, 196, 196, 0.61) !important;*/
    border: 1px solid var(--divider) !important;
    }

/*.om-tab-body .ant-checkbox-checked{*/
/*background: var(--lightgreen);*/
/*}*/

.history-pane-content * {
    font-family: Montserrat, sans-serif;
    /*border: none !important;*/
    }

.guideline {
    font-size: 11px;
    font-weight: 600;
    }

.tab-label {
    font-size: 20px;
    font-weight: 600;
    }

.tab-label-type {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    }

.date-picker {
    margin-top: 5px !important;
    width: 70% !important;
    }

.history-pane-content {
    height: 100%;
    width: 99%;
    border-radius: 5px;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    /*box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);*/
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);

    /*background: #9fefd7;*/
    /*box-shadow: 2px 10px 50px -2px rgba(51, 71, 91, 0.12);*/

    /*min-width: 350px;*/
    /*grid-template-rows: 100px auto;*/
    }

.history-tables-wrapper {
    grid-template-columns: 50% 50%;
    display: grid;
    width: 70%;
    height: 70%;
    grid-column-gap: 8px;
    align-self: center;
    }

.am-shift-pane {
    grid-column: 1/2;
    /*grid-row: 2/3;*/
    height: 100%;
    }

.pm-shift-pane {
    grid-column: 2/2;
    /*grid-row: 2/3;*/
    height: 100%;
    }

/*.mn-shift-pane {*/
/*grid-column: 3/4;*/
/*!*grid-row: 2/3;*!*/
/*height: 100%;*/
/*}*/

.create-shift-button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    }

.supervisor-select {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid var(--divider) !important;
    width: 70% !important;
    text-align: start !important;
    font-weight: 600 !important;
    color: var(--darkgreen) !important;
    }

.driver-icon img {
    object-fit: cover !important;
    }

.sched-list {
    margin-top: 20px !important;
    height: 200px !important;
    }

.printable {
    display: none;
    }

.sched-wrapper {
    display: flex;
    height: 400px !important;
    overflow: scroll;
    }

.buttons-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    }
.sched-modal-tables-wrapper {
    grid-template-columns: 50% 50%;
    display: grid;
    width: 92%;
    height: 70%;
    grid-column-gap: 8px;
    flex-direction: row;
    }
.sched-am-shift-pane {
    grid-column: 1/2;
    /*grid-row: 2/3;*/
    height: 100%;
    }

.sched-pm-shift-pane {
    grid-column: 2/3;
    /*grid-row: 2/3;*/
    height: 100%;
    }
.sched-modal {
    height: 700px!important;
    width: 500px!important;
    }