.phase-container {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 20px -5px rgba(51, 71, 91, 0.12);
    min-height: 100px;
    padding: 20px;
}

.remittance-body {
    padding: 16px;
}

.phase-header-title {
    font-weight: 550;
    font-size: x-large;
    margin: 0px;
}


.deployment-header {
    align-content: center;
}

.deployment-name {
    font-weight: 600;
    margin-left: 5px;
}

.list-container {
    margin-top: 20px;
}

.deployment-list-container {
    margin-top: 3px;
    margin-bottom: 3px;
}

.detail-container {
    padding-left: 5px;
    padding-top: 2px;
}

.detail-items-title {
    font-weight: 450;
    font-size: 12px;
}

.detail-items-value {
    font-weight: 350;
    margin-left: 3px;
    font-size: 12px;
}

Col {
    margin: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.list-detail-container {
    position: relative;
}

.deployment-button-container {
    align-content: center;
    right: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 10px;
}

.deployment-button {
    margin-left: 5px;
}

.subButton-container {
    display: inline;
}

.sub-arrow {
    margin-left: 3px;
    margin-right: 3px
}

.reason-label {
    margin-right: 5px;
}

.info-circle {
    margin-left: 3px;
    margin-right: 3px;
}

.modal-detail-title {
    font-weight: bold;
}

.modal-detail-value {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 300;
}