.supervisor-remittance-header{
    display: block;
    position: relative;
    width: inherit;
    height: 17%;
    min-height: 100px;
    margin-left: 2px;
    min-width: 400px;
    right: 0;
    background: rgba(255, 255, 255, 1);
    /*border-bottom: 1px solid var(--divider);*/
    /*box-shadow: 2px 1px 7px -2px #636363;*/
    box-shadow: 0 1px 20px -5px rgba(51, 71, 91, 0.12)
    /*box-shadow: 0 2px 8px #f0f1f2;*/
    }
.supervisor-rem-content{
    display: inline-grid;
    height: 83%;
    width: 100%;
    grid-template-columns: 65% 35%;
    }