.supervisor-remittance-header {
    display: block;
    position: relative;
    width: inherit;
    height: 17%;
    min-height: 100px;
    margin-left: 2px;
    min-width: 1060px;
    right: 0;
    background: rgba(255, 255, 255, 1);
    /*border-bottom: 1px solid var(--divider);*/
    /*box-shadow: 2px 1px 7px -2px #636363;*/
    box-shadow: 0 1px 20px -5px rgba(51, 71, 91, 0.12)
    /*box-shadow: 0 2px 8px #f0f1f2;*/
    }

.supervisor-rem-content {
    display: flex;
    padding: 10px;
    height: 83%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*grid-template-columns: 60% 40%;*/
    /*grid-template-rows: 50% 50%;*/
    }

.second-content-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    border-radius: 5px;
    /*background: rgba(255, 255, 255, 1);*/
    }

.sv-deployed-drivers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 98%;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    }

.sv-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 98%;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;

    }

.sv-stepper {
    height: 600px !important;
    }

.header-steps-wrapper {
    display: grid;
    position: absolute;
    width: 300px;
    min-width: 300px;
    height: 100%;
    left: 30%;
    grid-template-rows: 25px 70px auto;
    }

.header-steps {
    grid-row: 2/3;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.sv-steps-content {
    /*border: 1px dashed #e9e9e9;*/
    border-radius: 6px;
    min-height: 200px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

.steps-action {
    margin-top: 24px;
    }

.shift-type {
    height: 50px ! important;
    padding-top: 10px !important;
    width: auto;
    }

.content-label {
    font-size: 20px;
    }

.rem-first-content *, .rem-second-content * {
    font-family: Montserrat, sans-serif;
    }

.rem-second-content {
    display: flex;
    width: 99%;
    height: 99%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);

    }

.driver-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    }

.driver-list {
    padding: 10px;
    /*border:2px dashed rgba(0, 77, 128, .0392157) !important;*/
    border: 1px dashed rgba(71, 121, 138, 0.2) !important;
    border-radius: 5px;
    width: 400px !important;
    overflow: scroll;
    height: inherit !important;
    }

.driver-item {
    border: none !important;
    padding: 20px !important;
    }

.driver-item:hover {
    background: var(--bgcolor);
    }

.deploy-button {
    font-size: 11px !important;
    color: var(--darkgreen) !important;
    border: 1px solid var(--darkgreen) !important;
    border-radius: 15px !important;
    font-weight: 500 !important;
    }

.driver-deploy-modal {
    height: 500px !important;
    width: 800px ! important;
    top: 10px !important;
    }

.driver-deploy-modal .ant-modal-body {
    display: grid !important;
    grid-template-columns: 65% 35%;
    }

.ticket-div {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    }

.void-tickets {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.void-list {
    overflow: scroll !important;
    }

.void-item * {
    color: var(--warningred) !important;
    }

.void-item {
    border-bottom: none !important;

    }

.void-empty-img {
    height: 50px;
    width: 70px;
    margin-top: 10px;
    }

.void-empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border: 1px dashed var(--divider);
    }

.empty-label {
    margin-left: 10px;
    }

.driver-deploy-modal * {
    font-family: Montserrat, sans-serif;
    }

.driver-deploy-modal p {
    font-size: 12px;
    margin-right: 20px;
    }

.driver-deploy-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

.ticket-range-div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100px;
    width: 100%
    }

.first-range-from {
    grid-column: 1/2;
    grid-row: 1/2;
    }

.first-range-to {
    grid-column: 2/3;
    grid-row: 1/2;
    }

.second-range-from {
    grid-column: 1/2;
    grid-row: 2/3;
    }

.second-range-to {
    grid-column: 2/3;
    grid-row: 2/3;
    }

.driver-deploy-input .ant-input-number-lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

.driver-deploy-input .ant-input-number-lg {
    padding-left: 5px !important;
    font-size: 12px !important;
    }

.empty-image {
    height: 150px;
    width: 200px;
    }

.deployed-list {
    height: 200px !important;
    width: 100% !important;
    padding: 0 10px !important;
    overflow: scroll !important;
    }

.deployed-list * {
    font-family: Montserrat, sans-serif;
    }

.deployed-drivers-list-title {
    color: var(--darkgreen);
    font-weight: 500;
    }

.deploy-list-item {
    margin-left: 10px !important;
    border: none !important;
    }

.undeploy-button {
    font-size: 11px !important;
    border: 1px solid #ff4b69 !important;
    color: #ff4b69 !important;
    font-weight: 500 !important;
    border-radius: 30px !important;
    }

/*change step active color*/
/*.rem-step .ant-steps-item-process .ant-steps-item-icon{*/
/*background: var(--orange);*/
/*border-color: var(--orange)*/
/*}*/
