.container {
    height: 70% !important;
    }

.member-profile-container {
    display: grid;
    grid-template-columns: 55% 45%;
    width: 100%;

    }

.profile-container {
    grid-column: 1/2;
    }

.table-container {
    grid-column: 2/3;
    grid-row: 1/2;
    }

.shares-container {
    grid-column: 2/3;
    grid-row: 2/3;
    }

.beep-container {
    grid-column: 2/3;
    }

.profile-tables {
    margin-top: 20px;
    }
.profile-shares-table{
    height: 320px!important;
    }
.beep-button{
    width: 200px!important;
    margin-bottom: 5px;
    }