
.nav-container{
    background: white;
    width:80px;
    height: 100vh;
    box-shadow: 1px;
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    }

#logo{
    display: inline-block;
    padding-top: 10px;
    height: 70px;
    width: 55px;
    }
.nav-item-container{
    width: inherit;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    }
.navbar-items{
    position: relative;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width:auto;
    }
.navbar-icon{
    height:40px;
    width:40px;
    position: absolute;
    }