
.nav-container {
    background: var(--navdark);
    width: 80px;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*-webkit-box-shadow: 1px 0 5px -2px #363636;*/
    box-shadow: 1px 0px 5px -2px #636363;
    }

#logo {
    display: inline-block;
    padding-top: 25px;
    height: 55px;
    width: 45px;
    }

.nav-item-container {
    width: inherit;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    }

.navbar-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    padding-top: 20px;
    color: var(--inactive)

    }

.navbar-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    }
.icon-label{
    font-size: 10px;
    font-weight: 200;
    padding-top:1px;
    margin-top: 5px;
    }